-r ./all_in_one/source_files/word-mcp-server/requirements.txt
https://paddle-model-ecology.bj.bcebos.com/paddlex/PaddleX3.0/mcp/paddleocr_mcp/releases/v0.2.0/paddleocr_mcp-0.2.0-py3-none-any.whl
paddlepaddle==3.0.0 -i https://www.paddlepaddle.org.cn/packages/stable/cpu/
paddleocr
